<h1>Get a random between min and max </h1>

<form action="/min_max/results">
<label for="giraffe"> Enter a min number </label>
<input id="giraffe" type="text" name="min_number">
<label for="bob"> Enter a max number </label>
<input id="bob" type="text" name="max_number">

<button>Pick a random number</button>
</form>
