<h1>Get a random between min and max </h1>

<form action="/random/results">
<label for="minimum"> Minimum </label>
<input id="minimum" type="text" name="user_min">

<label for="maximum"> Maximum </label>
<input id="maximum" type="text" name="user_max">

<button>Pick random number</button>
</form>


