

<form action="/payment/results">
<label for="apr"> APR </label>
<input id="apr" type="text" name="user_apr">

<label for="year"> Number of years </label>
<input id="year" type="text" name="user_year">

<label for="principal"> Principal </label>
<input id="principal" type="text" name="user_principal">

<button>Calculate monthly payment</button>
</form>
